# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!nanosuit.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Local Directory
ThreeDEditor/Debug/
ThreeDEditor/ThreeDEditor/Debug
ThreeDEditor/Release/
ThreeDEditor/ThreeDEditor/Release
ThreeDEditor/.vs